#--------
# Xcode workspace
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
# Xcode project
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/default.*
#--------
# eclipse workspace
.metadata/
# eclipse projects
.classpath
bin/
gen/
obj/
# Doxygen generated docs
documents/*
!documents/.gitignore
documents/*/*
!documents/*/.gitignore
